.groups_members_list {
    background-color: aliceblue;
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
}

.member {
    display: flex;
}

.member:hover, .member:focus{
    background-color: aliceblue;
}

.delete_memb_btn{
    background-color: #acdcf6;
    border-radius: 50%;
    border: none;
}

.member_card{
    border-radius: 10px;
    display: flex;
    margin-bottom: 10px;
    align-items: center;
}

.member_card_info{
    display: flex;
    flex-direction: column;
}

.selected{
    background-color: #2a9ef6;
    border-radius: 50%;
    height: 15px;
    width: 15px;
}